doctype html
html(lang='en')
  head
    title Google Authentication
    style
      include style.css
  body
    div.loginDiv
      h1 You're logged in :)
        center
          a(href='http://localhost:3000/')
            button.logout Logout